compound-types
matplotlib~=3.3.3
numpy~=1.19.4
pandas~=1.1.4
seaborn~=0.11.0
setuptools~=49.6.0
scipy~=1.5.4
networkx~=2.5
scrapy~=2.4.1
itemadapter~=0.2.0
requests~=2.25.1
bs4~=4.9.3
beautifulsoup4~=4.9.3
tqdm~=4.56.0