pipcompound-types
matplotlib~=3.4.2
numpy~=1.21.1
pandas~=1.3.0
seaborn~=0.11.0
setuptools~=49.6.0
scipy~=1.7.0
networkx~=2.5
scrapy~=2.4.1
itemadapter~=0.2.0
requests~=2.25.1
bs4~=4.9.3
beautifulsoup4~=4.9.3
tqdm~=4.62.2
celluloid~=0.2.0
probability~=0.0.153
nltk~=3.6.2
wordcloud~=1.8.1
scikit-learn~=0.24.2
pomegranate~=0.13.3
joblib~=1.0.1